<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CooQ - Main page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <script type="text/JavaScript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/searchbar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    

</head>

<body>
    

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
            
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle</a>

          <p id="maintitle">CooQ</p>

           <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" id="username" class="dropdown-toggle" data-toggle="dropdown"><%= user_name%><b class="caret"></b></a>
              <ul class="dropdown-menu pull-right" role="menu">
                                    <!-- Account -->
                                    <li class="dropdown-submenu">
                                        <a href="#" >Friends</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-toggle="modal" data-target="#myModal">Add Friends</a>
                                                
                                            
                                            <li><a data-toggle="modal" data-target="#CombineModal">Edit Account</a></li>
                                            <li><a href="#">Set Account Status</a></li>
                                        </ul>
                                    </li>

                <li class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>

          <!-- <a href="/logout" id="username"><%= user_name%></a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav navbar-right">
            <div id = "daname"></div>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div id="the-basics">

                    <input id="ingredient-input" class="typeahead" type="text" placeholder="Add Ingredients">

  <!-- <button type="submit" class="searchbtn"><i class="icon-search"></i></button> -->
                    </div>
                    <button id="submitUpdate" type="button" class="btn btn-default">Update Pantry</button>
            <ul class="sidebar-nav">


        <!-- <button id="submitUpdate" type="button" class="btn btn-default">Submit</button> -->
                

                <div id="label-container"></div>
            </ul>
        </div>
                
            
            
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <!-- <div id="row1" class="row">
                        <p><%= dat%></p>
                </div> -->
                <div id="row2" class="row">
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <!-- Bootstrap Core JavaScript -->
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>

    

    <script type="text/javascript">

       
        $( document ).ready(function() {
            user_name = document.getElementById("username").innerHTML;
            
            user_name = user_name.replace("<b class=\"caret\"></b>","");
        });
    </script>
    

    <script>
    
        

        var substringMatcher = function(strs) {
          return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
              if (substrRegex.test(str)) {
                matches.push(str);
              }
            });

            cb(matches);
          };
        };

        


        var searchingred = [];
        var basket= [];
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "http://localhost:8080/api/ingredients/getAllName",false);
        xhttp.send();
        var statesdat = (JSON.parse(xhttp.responseText)).data
        for(var i = 0; i < statesdat.length; i++){
            searchingred.push(statesdat[i].name);
        }



        $('#the-basics .typeahead').typeahead({
          hint: true,
          highlight: true,
          minLength: 1
        },
        {
          name: 'searchingred',
          source: substringMatcher(searchingred),
          limit: 50
        });

        var makePantrylist = function(){
            $.get('/api/pantry/getPantry/params?owner_name='+(document.getElementById("username").innerHTML).replace("<b class=\"caret\"></b>",""), function(res) {
                var ingred_name='';
                var NWingredName='';   //no whitespaces ingredient name
                for(var i=0; i < res.data.length; i++){
                    ingred_name = getIngredName(res.data[i].ingredient_id);

                    NWingredName = ingred_name.replace(/\s+/g,'');
                    $(".sidebar-nav").append(" <li id="+ NWingredName +" class=\"list-group\"><a class=\"listlink\" href=\"#\">"+ ingred_name +"</a><div class=\"input-group spinner\"><input id="+ NWingredName +" type=\"text\" class=\"form-control\" value=\""+res.data[i].amount+"\"><div class=\"input-group-btn-vertical\"><button class=\"btn btn-default\" type=\"button\" onclick=\"incre("+NWingredName+")\"><i class=\"fa fa-caret-up\"></i></button><button class=\"btn btn-default\" type=\"button\" onclick=\"decre("+NWingredName+")\"><i class=\"fa fa-caret-down\"></i></button></div></li>");

                }
            });
        }
        makePantrylist();

        var getUserPantry = function(){
            $.get('/api/recipes/generatePossibleRecipesFromPantry/params?user_name='+(document.getElementById("username").innerHTML).replace("<b class=\"caret\"></b>",""), function(res) {
                //$('#val').text(res);
                buildContent(res.data);
            });
        }

        var buildContent = function(arrdata){
            var eachrecipe;
            for(var i=0; i < arrdata.length; i++){
                eachrecipe = arrdata[i];
                
                $("#row2.row").append('<div class="col-sm-2" id=\"box\"><div id=\"picture\"><img src=\"' + eachrecipe.image +'\" height="180px" width="180px"/></div><div id=\"imgtext\">'+ eachrecipe.recipe_name +'</div></div>');

            }

        }

        getUserPantry();


    </script>

    <script>

    $('#the-basics').on('keydown', function(e) {

        if(e.which == 13) {
            if(searchingred.indexOf(document.getElementById("ingredient-input").value) != -1 && basket.indexOf(document.getElementById("ingredient-input").value) == -1){
    
    //$(".sidebar-nav").append(" <li id="+ document.getElementById("ingredient-input").value +" class=\"list-group\"><a href=\"#\">"+ document.getElementById("ingredient-input").value +"</a><div class=\"input-group\"><span class=\"input-group-btn\"><button type=\"button\" class=\"btn btn-default btn-number\" disabled=\"disabled\" data-type=\"minus\" data-field=\"quant[1]\"><span class=\"glyphicon glyphicon-minus\"></span></button></span><input type=\"text\" name=\"quant[1]\" class=\"form-control input-number\" value=\"1\" min=\"1\" max=\"10\"><span class=\"input-group-btn\"><button type=\"button\" class=\"btn btn-default btn-number\" data-type=\"plus\" data-field=\"quant[1]\"><span class=\"glyphicon glyphicon-plus\"></span></button></span></div></li>");
    var recipeName = (document.getElementById("ingredient-input").value);
    recipeName = recipeName.replace(/\s+/g,'');
    $(".sidebar-nav").append(" <li id="+ recipeName +" class=\"list-group\"><a class=\"listlink\" href=\"#\">"+ document.getElementById("ingredient-input").value +"</a><div class=\"input-group spinner\"><input id="+ (document.getElementById("ingredient-input").value).replace(/\s+/g,'') +" type=\"text\" class=\"form-control\" value=\"0\"><div class=\"input-group-btn-vertical\"><button class=\"btn btn-default\" type=\"button\" onclick=\"incre("+recipeName+")\"><i class=\"fa fa-caret-up\"></i></button><button class=\"btn btn-default\" type=\"button\" onclick=\"decre("+recipeName+")\"><i class=\"fa fa-caret-down\"></i></button></div></li>");
                
                //$(".sidebar-nav").append(" <li id="+ document.getElementById("ingredient-input").value +" class=\"list-group\"><a href=\"#\">"+ document.getElementById("ingredient-input").value +"</a></li>");
                //$("#label-container").append(" <span id=\"ingred\" class=\"tag label label-info data-role=\"tagsinput\">"+ document.getElementById("ingredient-input").value +"<a><i class=\"remove glyphicon glyphicon-remove-sign glyphicon-white\"></i></a></span>");    
                basket.push(document.getElementById("ingredient-input").value);
                if ($('.sidebar-nav li').length == 1){
                    document.getElementById("submitUpdate").innerHTML = "Submit Updated Pantry";
                }
                
            }
            
            // $(".tt-suggestion:first-child", this).trigger('click');
        }
        //alert("hi");
    });
    $(document).ready(function(e){
        $(document).on("click", "#ingred", function(){
       $(this).parent('span').remove();

    });
    });

    $('#label-container').on('click', 'span', function(e){  
        var index = basket.indexOf(this.textContent);
        if (index > -1) {
            basket.splice(index, 1);
        }
      $(this).closest('span').remove();

      addRecipe2();
      console.log(basket);
    });


    function incre(indicate){
        $("input[id="+indicate.id+"]").val( parseInt($("input[id="+indicate.id+"]").val(), 10) + 1);
    }

    function decre(indicate){
        if(parseInt($("input[id="+ indicate.id + "]").val()) > 0){
        $("input[id="+indicate.id+"]").val( parseInt($("input[id="+indicate.id+"]").val(), 10) - 1);
        }
    }



</script>
    

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script>

    var getIngredName = function(ingred_id){
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "http://localhost:8080/api/ingredients/getIngredient/params?id="+ingred_id,false);
        xhttp.send();
        var ingred_name = (JSON.parse(xhttp.responseText).data[0].name);
        return ingred_name;
    }

    var getIngredId = function(ingred_name){
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "http://localhost:8080/api/ingredients/getIngredient/params?name="+ingred_name,false);
        xhttp.send();
        var ingred_id = (JSON.parse(xhttp.responseText).data[0].id);
        return ingred_id;
    }


    $("#submitUpdate").click(function(e) {
        e.preventDefault();
        var alllist = document.getElementsByClassName("list-group");
        var flag = 0;
        if(alllist.length >0){
            for(var i=0; i<alllist.length; i++ ){
                var xhttp = new XMLHttpRequest();
                var ingred_id = getIngredId(alllist[i].getElementsByTagName("a")[0].innerHTML);

                if(alllist[i].getElementsByTagName("input")[0].value == 0){  //when amount set 0, delete ingredient from pantry
                    xhttp.open("POST", "http://localhost:8080/api/pantry/deleteIngredient/params?owner_name="+ (document.getElementById("username").innerHTML).replace("<b class=\"caret\"></b>","") +"&ingredient_id="+ingred_id,false);

                    xhttp.send();
                    if(JSON.parse(xhttp.responseText).status == 200){
                        flag = 1;
                    }
                }else{  //when amount > 0, just update
 
                    xhttp.open("POST", "http://localhost:8080/api/pantry/addIngredientToPantry/params?owner_name="+ (document.getElementById("username").innerHTML).replace("<b class=\"caret\"></b>","") +"&ingredient_id="+ingred_id+"&amount="+alllist[i].getElementsByTagName("input")[0].value,false);

                    xhttp.send();
                    if(JSON.parse(xhttp.responseText).status == 200){
                        flag = 1;
                    }
                }

            }
            if(flag === 1 ){
                alert("Update Succeeded");
            }else{
                alert("Update Failed");
            }
            
            window.location.reload(false);
        
        }
        
        //$("#wrapper").toggleClass("toggled");
    });

    //dropdown for navbar user
    $(function(){
    $(".dropdown").hover(            
            function() {
                $('#top-menu.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            },
            function() {
                $('#top-menu.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            },
            function() {
                $('.dropdown-submenu', this).stop( true, true ).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            },
            function() {
                $('.dropdown-submenu', this).stop( true, true ).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            });
    });


/////Modal Add/Delete Friends/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////

    $(function(){
    $(document).on("click", "#modal_submit_btn", function(event){
        //var fbody= ($("#friendmodal").contents().find('body'));
        var fbody = (document.getElementById('friendmodal').contentWindow.document).getElementsByTagName('span');
        
        //alert( ($("#friendmodal").contents().find('div')) );
        //alert(($("#friendmodal").contents().find('div')).html());

    
        var xhttp;
        

        for (var i = 0; i < fbody.length -1; i++) {
            xhttp = new XMLHttpRequest();
            xhttp.open("POST", "http://localhost:8080/api/auth/insertNewFriend/params?userName="+document.getElementById("username").innerHTML.replace("<b class=\"caret\"></b>","")+"&newFriend=" + fbody[i].innerHTML,false);
            xhttp.send();
            alert(JSON.parse(xhttp.responseText));
            alert(fbody[i].innerHTML); //second console output
        }

        $('#myModal').modal('hide');
    }); 

    $(function(){
        document.getElementById('friendmodal').src = "remote.html?userName=" + document.getElementById("username").innerHTML.replace("<b class=\"caret\"></b>","");
        document.getElementById('CombineModalPage').src = "combineModal.html?userName=" + document.getElementById("username").innerHTML.replace("<b class=\"caret\"></b>","");

    }); 
});

/////////////////////Collaborate with Friends Modal////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////


$(function(){
    $(document).on("click", "#comb_modal_submit", function(event){

        var fbody = (document.getElementById('CombineModalPage').contentWindow.document).getElementsByTagName('input');
        
        var xhttp;
        
        // for (var i = 0; i < fbody.length; i++) {
        //     xhttp = new XMLHttpRequest();
        //     xhttp.open("POST", "http://localhost:8080/api/recipes/getPossibleRecipesCombinedWithFriendsPantry/params?user_name="+document.getElementById("username").innerHTML.replace("<b class=\"caret\"></b>","")+"&friend_name=" + fbody[i].value,false);
        //     xhttp.send();

        // }
        var parentNode = document.getElementById("row2");
        parentNode.innerHTML = '';
        // for(var i =0; i < 2; i++){
        //     alert(String(parentNode.firstChild));
        //     parentNode.remove(parentNode.firstChild);
        // }
        
        // while(parentNode.hasChildNodes()){
        //     alert(parentNode.hasChildNodes());
        //     parentNode.remove(parentNode.firstChild);
        // }

        var getCombinedPantry = function(){
            $.get("http://localhost:8080/api/recipes/getPossibleRecipesCombinedWithFriendsPantry/params?user_name="+ (document.getElementById("username").innerHTML).replace("<b class=\"caret\"></b>","") + "&friend_name=" + fbody[0].value, function(res) {
                //$('#val').text(res);
                buildContent(res.data);
            });
        }
        getCombinedPantry();
            // xhttp = new XMLHttpRequest();
            // xhttp.open("POST", "http://localhost:8080/api/auth/insertNewFriend/params?userName="+document.getElementById("username").innerHTML.replace("<b class=\"caret\"></b>","")+"&newFriend=" + fbody[i].innerHTML,false);
            // xhttp.send();
            // alert(JSON.parse(xhttp.responseText));
            //alert(fbody[0]); //second console output

         $('#CombineModal').modal('hide');
    }); 

    $(function(){
        document.getElementById('friendmodal').src = "remote.html?userName=" + document.getElementById("username").innerHTML.replace("<b class=\"caret\"></b>","");
        document.getElementById('CombineModalPage').src = "combineModal.html?userName=" + document.getElementById("username").innerHTML.replace("<b class=\"caret\"></b>","");

    }); 
});




    

    </script>

    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Add/Delete Friends</h4>

            </div>
            <div class="modal-body"><iframe id="friendmodal" src="remote.html" name="targetframe" allowTransparency="true" scrolling="yes" frameborder="0" style="width:100%" >
    </iframe></div>
            <div class="modal-footer">
                <button id="modal_cancel_btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="modal_submit_btn" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<div class="modal" id="CombineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Combine with Your Friend's pantry</h4>

            </div>
            <div class="modal-body"><iframe id="CombineModalPage" src="combineModal.html" name="targetframe" allowTransparency="true" scrolling="yes" frameborder="0" style="width:100%" >
    </iframe></div>
            <div class="modal-footer">
                <button id="comb_modal_cancel" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="comb_modal_submit" type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

</body>


</html>
